// fonts
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&family=Rubik:wght@400;500;700&display=swap');

$league-spartan: 'League Spartan', sans-serif;
$rubik: 'Rubik', sans-serif;

$weight-400: 400;
$weight-500: 500;
$weight-700: 700;

// page List Jobs colors
$primaryColor: hsl(180, 29%, 50%);
$background: hsl(180, 52%, 96%);
$filterTabletColor: hsl(180, 31%, 95%);
$secondaryColorLight: hsl(180, 8%, 52%);
$secondaryColorDark: hsl(180, 14%, 20%);
$backgroundCards: #fff;

/// page ip address tracker colors


$veryDarkColor: hsl(0, 0%, 17%);
$darkGrayColor: hsl(0, 0%, 59%);
$backColor: #000;
